/* color scheme emerald */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&display=swap');

:root {
    --primary-color:#059669;
    --dark-teal:#115E59;
    --off-white: #D1FAE5;
}

body {
    font-family: 'Exo 2', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

/* container */
.container {
    padding: 0rem 1 rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* link */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;    
    box-sizing: border-box;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid green;
}

/* list */
.list-non-bullet {
    list-style-type: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}

/* navigation */
.navigation {
    background-color: var(--primary-color);
    color:white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color:white;
}

.navigation .link-active {
    font-weight: bold;
}

/* header */
.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {    
    display: block;
    max-width: 300px;
    margin: auto;    
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-teal);
}

.hero .hero-heading-inverted {
    color: var(--primary-color);
}

/* section */
.section {
    padding: 2rem;
}
.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white) ;
}

/* footer */
.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color:white;
    border-top-right-radius: 1rem;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color:white;
}
.footer .ul {
    padding-inline-start: 0rem;
}
